*
!.dockerignore
!services/
services/*
!services/executor_host/
services/executor_host/*
!services/executor_host/Dockerfile
!services/executor_host/requirements.txt
!services/executor_host/supervisor.py
!services/tracker/
services/tracker/*
!services/tracker/src/
services/tracker/src/*
!services/tracker/src/executor_protocol.py
