[submodule "services/benchmarks/swebench"]
	path = services/benchmarks/swebench
	url = git@github.com:vals-ai/SWEBenchBenchmarkService.git
[submodule "agents/sweagent/submodules/sweagent"]
	path = agents/sweagent/submodules/sweagent
	url = git@github.com:vals-ai/SWE-bench.git
