# env files
.env
env

.venv/

# cache
.pytest_cache
.ruff_cache
__pycache__/

# coverage
.coverage
coverage.xml
htmlcov/
badge-output/

# Config files
config/**.yaml

# fab
logs

# mac
.DS_Store

tracker.db*
dump.rdb*
dist
build

*claude*
*CLAUDE*
