# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.ruff_cache/

# Testing
tests/
.pytest_cache/
.coverage
coverage.xml
.pi-lens/
.vscode/

# Logs
logs/

# Database (exclude local dev database)
src/tracker/database/tracker.db

# Docker files
.dockerignore

# Documentation
README.md
